.course-container{
    padding: 20px;
    /* border: 1px solid gray; */
    /* margin: 0px 10px; */
}
.course-container h3{
    /* padding-bottom: 30px; */
    text-align: left;
}
.course-container button{
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fcedbf;
    border: 2px solid bisque;
}
.course-container button:hover{
    background-color: transparent;
}

.card{
    min-height: 400px;
    max-height: 400px;
}
.card-body{
    min-height: 40px;
}
.footer{
    border-top: none;
    background-color: transparent;
}